{% extends 'base.html.twig' %}

{% block title %}Nueva reserva{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.datetimepicker.css') }}">
{% endblock %}
{% block javascripts %} 
    {{ parent() }}
    <!-- Datetime picker -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/jquery.datetimepicker.full.min.js') }}"></script>
    <script type="text/javascript">

    $(function() {
        $( "#fecha_inicio" ).datetimepicker({
            format: 'd/m/Y',
            changeMonth: true,  
            changeYear: true,      
            minDate: 0,
            onSelect: function() {
                var minDate = $('#fecha_inicio').datepicker('getDate');
                $("#fecha_fin").datetimepicker("change", { minDate: minDate });
            }          
        });
        $( "#fecha_fin" ).datetimepicker({ 
            format: 'd/m/Y',     
            changeMonth: true,   
            changeYear: true,
            minDate: 0,
            onSelect: function() {
                var maxDate = $('#fecha_fin').datepicker('getDate');
                $("#fecha_inicio").datepicker("change", { maxDate: maxDate });
            }
        });
    });
    </script>
{% endblock %}
{% block body %}
    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container"> 
        <div class="table-responsive-sm justify-content-center mt-2 table-borderless">
            <div class="row mb-5">
                <div class="col-auto" style="padding-top: 10px">
                    <legend class="verde-t mb4 h3">Búsqueda de habitaciones</legend>
                </div>
                <div class="col-12 mt-sm-n2 mt-md-n2 mt-lg-n3" >
                    <hr class="line-setting">
                </div>
                <div id="filters" class="bg-dark col-12 my-2" style="display: block;">
                    <form method="GET" class="form-inline my-3" action="{{ path('app_reserva_filter') }}">
			        <input type="hidden" name="_token" value="{{ csrf_token('filter') }}">
                        <div class="form-row" style="width: 100%">

                            <div class="col-2 mb-md-0">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <label class="input-group-text" for="fecha_inicio">De: </label>
                                    </div> 
                                    <input id="fecha_inicio" name="fecha_inicio" type="text" autocomplete="off" placeholder="dd/mm/yyyy" class="form-control" value="{{ fecha_inicio? fecha_inicio:'' }}">
                                </div>
                            </div>   

                            <div class="col-2 mb-md-0 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="fecha_fin">A: </label>
                                    </div> 
                                    <input id="fecha_fin" name="fecha_fin" type="text" autocomplete="off" placeholder="dd/mm/yyyy" class="form-control" value="{{ fecha_fin? fecha_fin:'' }}">
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="huespedes">Huéspedes: </label>
                                    </div> 
                                    <input id="huespedes" name="huespedes" type="text" autocomplete="off" class="form-control" value="{{ huespedes? huespedes:2 }}">
                                </div>
                            </div>

                            <div class="col-5">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="etiquetas">Etiquetas: </label>
                                    </div> 
                                    <input id="etiquetas" name="etiquetas" type="text" autocomplete="off" class="form-control" value="{{ etiquetas? etiquetas:'' }}"s>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="col-1">
                                <div class="input-group">
                                    <button id="btnSave" name="btnSave" class="btn button-color text-white ml-auto">Filtrar</button>
                                </div>
                            </div>
                        </div>  
                    </form>
                </div>   
            </div>
            <table class="table">
                <thead>
                    <tr class ="header-table-color text-white">
                        <td>Descripción</td>
                        <td>Capacidad</td>
                        <td>Precio diario (€)</td>                  
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for habitacion in habitaciones %}
                        <tr>
                            <td>{{ habitacion.descripcion ? habitacion.descripcion : '' }}</td>
                            <td>{{ habitacion.capacidad}}</td>
                            <td>{{ habitacion.precioDiario }}</td>
                            <td class="p-1 align-middle">
                                <div>
                                    <a href="{{ path('app_reserva_new', {'habitacion_id': habitacion.id, 
                                    'fecha_inicio': fecha_inicio, 'fecha_fin': fecha_fin,
                                    'huespedes': huespedes}) }}" 
                                    class="btn button-color btn-xs text-white" 
                                        data-toggle="tooltip" data-placement="bottom" title="Reservar">
                                        <i class="material-icons mic">book_online</i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No hay habitaciones para ver.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="d-flex justify-content-center">
                <div class="navigation">
                    {{ knp_pagination_render(habitaciones) }}
                </div>
            </div>
        </div>
    </div>    
{% endblock %}