<nav class="navbar navbar-light navbar-expand-lg text-white header-nav">
    <div class="container">
        <a class="navbar-brand text-white" href="{{path('app_reserva_index')}}">
            <img class="img-responsive" src="/images/logo.jpeg" alt="Chapp Solutions">
        </a>
        <div class="navbar-nav flex-grow-0">
            <button class="navbar-toggler justify-content-end" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>    
        <div class="collapse navbar-collapse justify-content-end" id="nav">
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item navbar-text">
                    <a class="nav-link text-white" href="{{path('app_reserva_index')}}">Inicio</a>
                </li>                           
                <li class="nav-item navbar-text">
                    <a class="nav-link text-white" href="{{path('app_habitacion_index')}}">Habitaciones</a>
                </li>
                <li class="nav-item navbar-text">
                    <a class="nav-link text-white" href="{{path('app_habitacion_index')}}">Clientes</a>
                </li>
                <li class="nav-item navbar-text dropdown">
                    <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-toggle="dropdown">Mi cuenta</a>
                    <div class="dropdown-menu bg-dark">
                        <a class="nav-link text-white dropdown-item bg" href="{{path('app_reserva_index')}}">Configuraciones</a>
                        <a class="nav-link text-white dropdown-item bg" href="{{path('app_reserva_index')}}">Cambiar contraseña</a>
                        <a class="nav-link text-white dropdown-item bg" href="" onclick="event.preventDefault();
                            document.getElementById('logout-form').submit();">Cerrar sesión
                        </a>
                        <form id="logout-form" action="{{path('app_reserva_index')}}" method="POST" style="display: none;">
                            csrf_field() 
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>